.container{
    text-align: center; 
}

.container > h2{
    color: steelblue;
    margin: 15px 0;
}
.image__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

}

.image{
    position: relative;
    overflow: hidden;
}

.image img{
    width: 200px;
    height: 200px;
}

.image img{
    display: block;
    transition: all 0.4s;
    transform: scale(1);
}

.image img:hover{
    transform: scale(1.2);
}